@font-face {
  font-family: "Boots and Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto";
}

h1,
h2,
.logo {
  font-family: "Boots and Spurs", sans-serif, Tahoma, Geneva, Verdana;
}

h1 {
  color: white;
  letter-spacing: 3px;
}

.product-list h2 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

header,
footer {
  background: #202020;
  color: #ffffff;
}

/* LINKS */
a {
  text-decoration: none;
}

header a {
  color: #ffffff;
  padding: 10px;
}
.cta {
  background-color: red;
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
}

.cta-small {
  padding: 8px 50px;
  font-size: 0.8em;
}

.active {
  text-decoration: underline;
}

.reviews {
  background-color: #e8e8e8;
}

.featured__products {
  background-color: #fbfbfb;
}

.cta-sale {
  background-color: green;
}

footer {
  text-align: center;
}

/* Home Page */

.welcome {
  background-image: url("../media/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  background-position-x: left;
  background-position-y: top;
  position: relative;
}

.welcome_content {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
}

.selling-points_images {
  border-radius: 100px;
}

.review_images {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

/* CONTACT PAGE */
input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
